# Unpacked containers / extracted files (X.amb -> X/, files without extension -> X_ext/)
/1Icon_gfx/
/1Map_data/
/1Map_texts/
/2Icon_gfx/
/2Lab_data/
/2Map_data/
/2Map_texts/
/2Object3D/
/2Overlay3D/
/2Wall3D/
/3Icon_gfx/
/3Lab_data/
/3Map_data/
/3Map_texts/
/3Object3D/
/3Overlay3D/
/3Wall3D/
/Combat_background/
/Combat_graphics_ext/
/Dict/
/Event_pix/
/Floors/
/Icon_data/
/Monster_char/
/Monster_gfx/
/Monster_groups/
/NPC_char/
/NPC_gfx/
/NPC_texts/
/Object_icons_ext/
/Object_texts/
/Objects/
/Palettes/
/Party_texts/
/Place_data_ext/
/Portraits/
/Text/
/Travel_gfx/
/Save.00/Automap/
/Save.00/Chest_data/
/Save.00/Merchant_data/
/Save.00/Party_char/
/Save.00/Party_data/
